@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Raleway", sans-serif;
  background-color: #131415;
  position: relative;
  scroll-behavior: smooth;
}

:root {
  --font-size-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
  --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --font-size-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
  --font-size-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --font-size-xxxl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.headerSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 2%;
}
.headerSection > .logo_container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.headerSection > .logo_container > img {
  max-width: 60px;
}

.headerNav {
  display: flex;
  gap: 38px;
  align-items: center;
  font-size: 30px;
  width: 100%;
  justify-content: flex-end;
}

.headerNav a {
  display: flex;
  text-decoration: none;
  gap: 5px;
}

.headerNav > button,
a > i {
  color: #ffa100;
  background-color: #252525;
  font-size: 15px;
}

.headerNav p {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 15px;
  color: #ffffff;
  align-self: flex-end;
}

.headerNav button {
  border: none;
  position: relative;
  cursor: pointer;
}

.headerNav button:active {
  transform: translate(-3px);
}

.headerNav > button > i > div {
  font-size: 8px;
  width: 13px;
  height: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 250px;
  position: absolute;
  bottom: 70%;
  left: 60%;
}

/* MODAL CARRITO */
.cartSection {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  backdrop-filter: blur(3px);

  display: none;
}

.cartContainer {
  position: absolute;
  width: 100%;
  max-width: 400px;
  max-height: 900px;
  background: #252525;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(50px);
  top: 1%;
  right: 50px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 2%;
}
.cartContainer > i {
  cursor: pointer;
  align-self: flex-start;
  background: linear-gradient(98.81deg, #ffa100 -0.82%, #fb103d 101.53%);
  color: #ffffff;
  font-size: 12px;
  width: 8%;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10%;
}
.cartContainer h2 {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 20px;
  color: #ffffff;
  align-self: flex-start;
}

.productsCartContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  min-height: 500px;
}

.productsCartCard {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 310px;
  max-height: 100px;
  min-height: 100px;
  display: flex;
  background: #252525;
  box-shadow: 0px 0px 50px rgba(1, 2, 7, 0.5);
  border-radius: 15px;
}

.productsCartCard img {
  border-radius: 16px;
  width: 62px;
  height: 62px;
}

.productsCartCard h3 {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: clamp(10px, 1vw, 15px);
  color: #ffffff;
}

.productsCartCard p {
  font-weight: 300;
  font-size: clamp(9px, 0.8vw, 14px);
  color: #4d4d4d;
}

.productsCartCard h4 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: clamp(14px, 1.3vw, 19px);
  background: linear-gradient(90.81deg, #ffa100 -0.82%, #ff005c 50.53%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.recomendationsCard h3 {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: clamp(10px, 1vw, 15px);
  color: #ffffff;
}

.recomendationsCard p {
  font-weight: 300;
  font-size: clamp(9px, 0.8vw, 14px);
  color: #4d4d4d;
}

.recomendationsCard h4 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: clamp(14px, 1.3vw, 19px);
  background: linear-gradient(98.81deg, #ffa100 -0.82%, #ff005c 101.53%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.productsCartDatos {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  gap: 5px;
}

.productsCartQuantityControler {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

#cartCardBtnRemove {
  width: 26px;
  height: 26px;
  border: none;
  background: linear-gradient(
    98.81deg,
    #4e3c1c -0.82%,
    #352812 -0.81%,
    #3b0619 101.53%
  );
  border-radius: 8px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#cartCardBtnAdd {
  width: 26px;
  height: 26px;
  border: none;
  background: linear-gradient(
    98.81deg,
    #ffa100 -0.82%,
    #ffa100 -0.81%,
    #ff005c 101.53%
  );
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

.subtotalContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  gap: 50%;
}

.subtotalContainer h3,
span {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 15px;
  color: #ffffff;
}

.shippingContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  gap: 55%;
}

.shippingContainer h3 {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 15px;
  color: #ffffff;
}

.linea {
  width: 98%;
  background: #ffffff;
  box-shadow: 0px 0px 50px rgba(1, 2, 7, 0.5);
  border: none;
  height: 0.2px;
}

.totalContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
.totalContainer > h2 {
  font-weight: 400;
}
.totalContainer > span {
  color: #ff7a00;
  font-weight: 700;
}

.shopContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}



.shopContainer >  button {
  width: 60%;
  height: 45px;
  background: linear-gradient(98.81deg, #ffa100 -0.82%, #fb103d 101.53%);
  box-shadow: 11px 28px 50px rgba(20, 78, 90, 0.2);
  border-radius: 15px;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0.8px;
  border: none;
  color: #fefeff;
  cursor: pointer;
}

.disabled{
  background: #4d4d4d;
}
.shopContainer > a {
  text-decoration: none;
  color: #4d4d4d;
}

/* .shopContainer button:active {
  transform: translate(0, 3px);
} */

/* FIN MODAL CARRITO */

/*HERO*/
.heroSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-bottom: 5%;
  margin-top: 5%;
}

.heroSection img {
  width: 40%;
  height: auto;
}

.leftHeroContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 60%;
}

.leftHeroContainer h1 {
  font-weight: 700px;
  /* font-size: 66px; */
  font-size: var(--font-size-xxxl);
  color: #ffffff;
}
.leftHeroContainer h2 {
  font-weight: 600px;
  font-size: 45px;
  color: #ffffff;
  line-height: 0px;
}

.leftHeroContainer p {
  font-weight: 400;
  /* font-size: 14px; */
  font-size: var(--font-size-md);
  color: #ffffff;
}

.leftHeroContainer button {
  outline: none;
  border: none;
  width: 150px;
  height: 50px;
  background: linear-gradient(98.81deg, #ffa100 -0.82%, #fb103d 101.53%);
  color: #ffffff;
  box-shadow: 11px 28px 50px rgba(20, 78, 90, 0.2);
  border-radius: 15px;
  font-weight: 600;
  font-family: inherit;
  cursor: pointer;
}

.leftHeroContainer button:active {
  transform: translate(0, 3px);
}

.leftHeroContainer .hero-breakText {
  display: block;
  font-family: inherit;
  font-size: var(--font-size-xxl);
  color: #ffffff;
}

.leftHeroContainer .hero-gradText {
  font-size: inherit;
}

.mainSection {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.recomendationsContainer {
  display: flex;
  gap: 20px;
  align-items: center;
  width: 100%;
  justify-content: center;
  margin-bottom: 5%;
  flex-wrap: wrap;
}

.mainSection h2 {
  font-weight: 500;
  font-size: 22px;
  color: #ffffff;
  align-self: flex-start;
}

.recomendationsCard {
  width: 100%;
  height: 100%;
  max-width: 250px;
  max-height: 90px;
  background: #252525;
  box-shadow: 0px 0px 50px rgba(1, 2, 7, 0.5);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 1%;
  flex: 1 1 250px;
}

.recomendationsCard > img {
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 16px;
}
.recomendationsCard button {
  border: none;
  outline: none;
  cursor: pointer;
}

.recomendationsCard button:active {
  transform: translate(0, 1.5px);
}

.recomendationsItems {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}

.recomendationsCard h3 {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: clamp(10px, 1vw, 15px);
  color: #ffffff;
}

.recomendationsCard p {
  font-weight: 300;
  font-size: clamp(9px, 0.8vw, 14px);
  color: #4d4d4d;
}

.recomendationsCard h4 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: clamp(14px, 1.3vw, 19px);
  background: linear-gradient(98.81deg, #ffa100 -0.82%, #ff005c 101.53%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

#recomendationsCardBtn {
  padding: 2% 6%;
  font-size: 10px;
  background: linear-gradient(98.81deg, #ffa100 -0.82%, #ff005c 101.53%);
  border-radius: 17.5px;
  color: #ffffff;
}

/*CATEGORIAS*/
.categorias-h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  color: #ffffff;
  align-self: flex-start;
}

.categoriesContainer {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

.categoriesCard {
  border: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 120px;
  min-width: 120px;
  max-height: 130px;
  min-height: 130px;
  align-items: center;
  justify-content: center;
  background: #252525;
  box-shadow: 0px 0px 50px rgba(1, 2, 7, 0.5);
  border-radius: 15px;
  padding: 1%;
  gap: 5px;
  cursor: pointer;
  transition: all 0.5s ease;
  flex: 1 1 130px;
}

.categoriesCard:hover {
  transform: translateY(-5px);
}
.active {
  background: #4d4d4d;
}

.categoriesCard img {
  width: 50px;
  height: 50px;
}

.categoriesCard {
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
}

.categoriesCard hr {
  width: 24px;
  height: 4px;
  border: none;
  background: linear-gradient(98.81deg, #ffa100 -0.82%, #ff005c 101.53%);
  box-shadow: 0px 0px 50px rgba(1, 2, 7, 0.5);
  border-radius: 15px;
}

.populares {
  font-weight: 500;
  font-size: 22px;
  color: #ffffff;
  align-self: flex-start;
}
/*CARDS*/

.productsContainer {
  display: flex;
  gap: 40px;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.productCard {
  width: 100%;
  max-width: 200px;
  min-width: 200px;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #252525;
  box-shadow: 0px 0px 50px rgba(1, 2, 7, 0.5);
  border-radius: 15px;
  gap: 5px;
  flex: 1 1 200px;
}

.productCard img {
  max-width: 180px;
  max-height: 90px;
  border-radius: 16px;
}

.productCardDescription {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.productCardDescription h3 {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: clamp(9px, 1vw, 12px);
  color: #ffffff;
}

.productCardDescription p {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: clamp(9px, 0.9vw, 10px);
  color: #4d4d4d;
}

.productCardPrice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.productCardPrice p {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: clamp(18px, 1.2vw, 22px);
  background: linear-gradient(98.81deg, #ffa100 -0.82%, #ff005c 101.53%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.productCardPrice button {
  padding: 3% 8%;
  color: #ffffff;
  font-size: 11px;
  font-weight: 300;
  border: none;
  background: linear-gradient(98.81deg, #ffa100 -0.82%, #ff005c 101.53%);
  border-radius: 17.5px;
  cursor: pointer;
}

/* footer */
.footerSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 200px;
  gap: 60px;
  margin-top: 2%;
}

.linksContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  flex-wrap: wrap;
}

.linksContainer a {
  text-decoration: none;
  font-family: "Montserrat";
  font-weight: 300;
  font-size: clamp(15px, 1.3vw, 18px);
  text-align: center;
  color: #ffffff;
}

footer i {
  color: #fb103d;
}

footer h2 {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 17px;
  font-size: clamp(12px, 1.2vw, 17px);
  text-align: center;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .headerNav {
    display: flex;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 65px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: linear-gradient(
      90deg,
      #ffa100 10.93%,
      rgba(251, 16, 61) 99.05%
    );
  }

  .bloc-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }

  .logo_container img {
    display: none;
  }

  .headerSection {
    padding: 0;
  }

  .footerSection h2 {
    margin-bottom: 74px;
  }

  .headerNav p {
    display: none;
  }

  .headerNav > button,
  a > i {
    background-color: transparent;
    color: #fefefe;
  }

  .headerNav > button > i > div {
    background: linear-gradient(98.81deg, #ffa100 -0.82%, #fb103d 101.53%);
  }

  .heroSection {
    flex-direction: column;
  }

  .heroSection img {
    display: none;
  }

  .leftHeroContainer {
    align-items: center;
    width: 100%;
  }

  .hero-gradText {
    background-color: red;
    background-image: linear-gradient(
      98.81deg,
      #ffa100 -0.82%,
      #fb103d 101.53%
    );
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }
}


